/*Index css*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@1,300&family=Lato:ital,wght@0,300;1,300;1,400;1,700&family=Libre+Baskerville&family=Montserrat:ital,wght@0,400;0,500;0,700;1,300&family=Poppins:ital,wght@1,200&family=Raleway:ital,wght@0,300;0,600;1,400&family=Roboto:ital,wght@0,500;1,300&family=Slabo+13px&display=swap');
/*
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Libre Baskerville', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Slabo 13px', serif;
*/

:root {
    --clwhite1: #ededed;
    --cldark1: #303136;
    --cldark2: #191919;
    --cldark3: #1b1c1e;
    --cldark4: : #2c333f;
    --clbldark2: #162c35;

    --fontmont: 'Montserrat', sans-serif;

}

* {
    outline: none;
}

body {
    scroll-behavior: smooth;
    width: 100%;

    height: 100vh;
    padding: 0;
    margin: 0;

}

.sites {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url('rainyforest.jpg');
    background-size: cover;

}

.siteback {
    background-image: url('rainyforest.jpg');
    background-size: cover;
    filter: blur(4px);
    -webkit-filter: blur(4px);
    width: 100%;
    height: 100%;
    position: absolute;
    transition: filter 500ms;
    -webkit-transition: filter 500ms;
    -moz-transition: filter 500ms;
    -ms-transition: filter 500ms;
    -o-transition: filter 500ms;
}

.siteback:hover {
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.site {
    width: 100%;
    position: relative;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}



.list {
    position: relative;
    width: clamp(23.5rem, 40rem, 50vw);
    height: clamp(41.7rem, 50rem, 51vw);
    background-color: #f8f8f8;
    background-image: linear-gradient(to right, #f8f8f8, #ececec);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.nav {
    border-radius: 1rem;
    width: 100%;
    height: clamp(8rem, 10rem, 11vw);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(#134838, #134826);
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.todo {

    width: 95%;
    height: clamp(33.8rem, 39.9rem, 45vw);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 0.3rem;
}

.tdel {
    width: 100%;
    height: 10%;
    background-color: var(--clwhite1);
    border: 2px solid #dcdcdc;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    opacity: 0%;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.tdnm {

    height: 80%;

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--fontmont);
    font-weight: bold;
    padding-inline: 1rem;
    font-size: clamp(1rem, 1.2rem, 1.4vw);
}

.tdtx {
    width: 58%;
    height: 80%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: var(--fontmont);
    font-weight: normal;
    font-size: clamp(0.9rem, 1.1rem, 1.2vw);
    padding-inline: 0.5rem;


}

.delbut {
    width: 2rem;
    height: 2rem;
    display: flex;
    background-image: url('delete.png');
    background-size: cover;
    background-position-x: 50%;
    border: none;
    margin-inline: clamp(0.1rem, 1rem, 1.1vw);
}

.navwl {
    width: 100%;
    height: clamp(5.5rem, 6rem, 6.5vw);
    justify-content: center;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.navelem1 {
    height: clamp(5.5rem, 6rem, 6.5vw);
    justify-content: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.4rem;

}

.navelem2 {
    height: clamp(5.5rem, 6rem, 6.5vw);
    width: clamp(10rem, 18rem, 22vw);
    display: flex;
    justify-content: center;
    align-items: center;




}

.home {
    width: clamp(2rem, 2.4rem, 3vw);
    height: clamp(2rem, 2.4rem, 3vw);
    margin-left: 2rem;
    margin-right: 0.5rem;
    display: flex;
}

.home span {
    width: 100%;
    height: 100%;
    background-image: url('home.png');
    background-size: cover;
    transition: transform 400ms;
    -webkit-transition: transform 400ms;
    -moz-transition: transform 400ms;
    -ms-transition: transform 400ms;
    -o-transition: transform 400ms;
}

.home span:hover {
    transform: scale(120%);
    -webkit-transform: scale(120%);
    -moz-transform: scale(120%);
    -ms-transform: scale(120%);
    -o-transform: scale(120%);
}

.navwl div.ls_text {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}

.scmedia {

    gap: 0.1rem;
    width: 100%;
    height: 4rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(0.5rem, 1rem, 1.1vw);
}

.scmedia span {
    transition: transform 400ms;
    -webkit-transition: transform 400ms;
    -moz-transition: transform 400ms;
    -ms-transition: transform 400ms;
    -o-transition: transform 400ms;
}

.scmedia span:hover {
    width: clamp(2rem, 3.5rem, 4vw);
    height: clamp(2rem, 3rem, 4vw);
    transform: scale(110%);
    -webkit-transform: scale(110%);
    -moz-transform: scale(110%);
    -ms-transform: scale(110%);
    -o-transform: scale(110%);
}

#github {
    width: clamp(2rem, 2.6rem, 4vw);

    height: clamp(2rem, 2.5rem, 4vw);
    background-image: url('githublogo.png');
    background-size: cover;


}

#insta {
    width: clamp(3rem, 3.6rem, 4vw);

    height: clamp(3rem, 3.5rem, 4vw);
    background-image: url('instalogo.png');
    background-size: cover;
    background-position-y: 50%;
}

#facebook {
    width: clamp(2rem, 2.6rem, 4vw);

    height: clamp(2rem, 2.6rem, 4vw);
    background-image: url('fblogo.png');
    background-size: cover;
}


.navwl h1 {
    margin: 0;
    color: #ededed;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: clamp(1.6rem, 1.8rem, 2vw);
}

.navwl h2 {
    margin: 0;
    color: #ededed;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: clamp(1rem, 1.2rem, 1.4vw);
}


.nav_el {
    background-color: #191919;
    display: flex;

    width: 100%;
    height: clamp(3.5rem, 4rem, 5vw);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.nav_el button {
    height: clamp(1.6rem, 2.2rem, 2.3vw);
    background-color: var(--clwhite1);
    border: none;
    font-family: 'Montserrat', sans-serif;
    border-radius: clamp(0.2rem, 0.4rem, 0.5vw);
    -webkit-border-radius: clamp(0.2rem, 0.4rem, 0.5vw);
    -moz-border-radius: clamp(0.2rem, 0.4rem, 0.5vw);
    -ms-border-radius: clamp(0.2rem, 0.4rem, 0.5vw);
    -o-border-radius: clamp(0.2rem, 0.4rem, 0.5vw);
}

.nav_el input {
    opacity: 90%;
    transition: opacity 500ms, padding-inline 300ms;
    -webkit-transition: opacity 500ms, padding-inline 300ms;
    -moz-transition: opacity 500ms, padding-inline 300ms;
    -ms-transition: opacity 500ms, padding-inline 300ms;
    -o-transition: opacity 500ms, padding-inline 300ms;
}

.nav_el button {
    opacity: 96%;
    transition: opacity 500ms;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -ms-transition: opacity 500ms;
    -o-transition: opacity 500ms;
}

.nav_el input:hover {
    opacity: 100%;

}

.nav_el input:focus {
    padding-inline: 1rem;
}

.nav_el button:hover {
    opacity: 100%;
}

input.namems {
    width: clamp(5rem, 5rem, 5.1vw);
    height: clamp(1.4rem, 1.8rem, 2.3vw);
    font-family: var(--fontmont);
    text-align: center;
    border-radius: clamp(0.3rem, 0.6rem, 0.7vw);
    -webkit-border-radius: clamp(0.3rem, 0.6rem, 0.7vw);
    -moz-border-radius: clamp(0.3rem, 0.6rem, 0.7vw);
    -ms-border-radius: clamp(0.3rem, 0.6rem, 0.7vw);
    -o-border-radius: clamp(0.3rem, 0.6rem, 0.7vw);
    border: none;
}

input.message {
    border: none;
    width: clamp(8rem, 13rem, 14.1vw);
    font-family: var(--fontmont);
    height: clamp(1.4rem, 1.8rem, 2.3vw);
    text-align: center;
    border-radius: clamp(0.3rem, 0.6rem, 0.7vw);
    -webkit-border-radius: clamp(0.3rem, 0.6rem, 0.7vw);
    -moz-border-radius: clamp(0.3rem, 0.6rem, 0.7vw);
    -ms-border-radius: clamp(0.3rem, 0.6rem, 0.7vw);
    -o-border-radius: clamp(0.3rem, 0.6rem, 0.7vw);
    border: none;
    font-size: clamp(0.8rem, 1rem, 2vw);
}


@media screen and (max-width: 600px) {


    .list {
        border-radius: 0rem;
        -webkit-border-radius: 0rem;
        -moz-border-radius: 0rem;
        -ms-border-radius: 0rem;
        -o-border-radius: 0rem;
    }

    .nav {
        border-radius: 0rem;
        -webkit-border-radius: 0rem;
        -moz-border-radius: 0rem;
        -ms-border-radius: 0rem;
        -o-border-radius: 0rem;
    }



}